# Python
__pycache__/
*.pyc

# Virtual environments
cowrie-env/

# Logs
cowrie/var/log/
var/log/
*.log

# Backups
*.tar.gz

# SSH Keys
*.pem

# OS
.DS_Storecowrie-env/
*.log
__pycache__/
cowrie/
!cowrie/etc/cowrie.cfg

